body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 90vh;
}

h4, h3, h2, h1 {
  letter-spacing: 0.1em;
}

.splash {
  color: rgb(206, 215, 218);
  letter-spacing: 0.1em;
  font-size: 300%;
}

@media only screen and (max-width: 900px) {
  .splash {
     font-size: 150%;
  }
} 

@media only screen and (max-width: 600px) {
  .splash {
     font-size: 0.9rem;
  }
}      

.image {
  filter: grayscale(60%)
}

.image:hover {
  transform:scale(.95);
  filter: grayscale(0%)
}

